/** Form Control **/
.form-control {
	min-height: 45px;
	border:0px;
	@include border-radius(0px);
	border: 1px solid $theme-light-grey;
	color: $body-font-color;
	@include placeholder {
		color: $theme-grey-color !important;
	}

}

select:focus,
textarea:focus,
input:focus {
	@include border-color-opacity($theme-primary-color, 0.9);
	box-shadow: none !important;
	outline: 0 none;
}
.custom-file-label {
	@include border-radius(0px);
	border: 1px solid $theme-light-grey;
	min-height: 45px;
	line-height: 1.9;
	&::after{
		min-height: 43px;
		border-left: 1px solid $theme-light-grey;
		line-height: 1.9;
		color:$theme-white-color;
		background:$gradient1;
		border-radius: 0px;
	}
}

/** Iconic Input **/
.iconic-text-input {
	position: relative;

	i {
		position: absolute;
		top: 13px;
		right: 13px;
		font-size: 18px;
		color: $theme-grey-color;
	}
}